{% extends "layout.html" %}
{% block content %}
<div class="text-white">
  <h1 class="text-center mb-4">About</h1>
  <p>
    SpaceX Launch Tracker is an open source web application for exploring data about upcoming and past <a href="https://www.spacex.com/">SpaceX</a> launches.
    It was created by <a href="https://emilsadek.com">Emil Sadek</a> using <a href="https://github.com/pallets/flask">Flask</a> and <a href="https://github.com/twbs/bootstrap">Bootstrap</a>, with data from the <a href="https://github.com/r-spacex/SpaceX-API">SpaceX-API</a>.
    If you are interested in the source code or contributing to this project, check out the <a href="https://github.com/esadek/spacex-launch-tracker">GitHub repository</a>.
    Special thanks to everyone at SpaceX for their incredible work, as well as Jake Meyer for creating and maintaining the SpaceX-API.
  </p>
  <p>Disclaimer: This website and its creator are not affiliated with Space Exploration Technologies Corp. (SpaceX).</p>
</div>
{% endblock %}