{% extends "layout.html" %}
{% block content %}
<div class="card bg-light">
  <div class="card-header text-center">Next Launch</div>
  <div class="row g-0">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">{{ next_launch.name }}</h5>
        <p class="card-text mb-0">
          <span class="text-muted">Flight Number:</span> {{ next_launch.flight_number }}
        </p>
        <p class="card-text mb-0">
          <span class="text-muted">Date:</span> {{ next_launch.date_utc[:10] }}
        </p>
        <p class="card-text mb-0">
          <span class="text-muted">Rocket:</span> {{ rockets[next_launch.rocket] }}
        </p>
        <p class="card-text">
          <span class="text-muted">Launchpad:</span> {{ launchpads[next_launch.launchpad] }}
        </p>
      </div>
    </div>
    <div id="countdown" class="col" data-date="{{ next_launch.date_unix }}"></div>
  </div>
</div>
<div class="card bg-light my-4">
  <div class="card-header text-center">Latest Launch</div>
  <div class="card-body">
    <h5 class="card-title">{{ latest_launch.name }}</h5>
    <p class="card-text mb-0">
      <span class="text-muted">Status: </span>
      {% if latest_launch.success %}
      <span class="badge bg-success">Success</span>
      {% else %}
      <span class="badge bg-danger">Failure</span>
      {% endif %}
    </p>
    <p class="card-text mb-0">
      <span class="text-muted">Flight Number:</span> {{ latest_launch.flight_number }}
    </p>
    <p class="card-text mb-0">
      <span class="text-muted">Date:</span> {{ latest_launch.date_utc[:10] }}
    </p>
    <p class="card-text mb-0">
      <span class="text-muted">Rocket:</span> {{ rockets[latest_launch.rocket] }}
    </p>
    <p class="card-text">
      <span class="text-muted">Launchpad:</span> {{ launchpads[latest_launch.launchpad] }}
    </p>
    {% if latest_launch.details %}
    <p class="card-text">{{ latest_launch.details }}</p>
    {% endif %}
    <div class="btn-group">
      {% if latest_launch.links.webcast %}
      <a href="{{ latest_launch.links.webcast }}" class="btn btn-sm btn-outline-dark">YouTube</a>
      {% endif %}
      {% if latest_launch.links.article %}
      <a href="{{ latest_launch.links.article }}" class="btn btn-sm btn-outline-dark">Article</a>
      {% endif %}
      {% if latest_launch.links.wikipedia %}
      <a href="{{ latest_launch.links.wikipedia }}" class="btn btn-sm btn-outline-dark">Wikipedia</a>
      {% endif %}
      {% if latest_launch.links.presskit %}
      <a href="{{ latest_launch.links.presskit }}" class="btn btn-sm btn-outline-dark">Press Kit</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}