{% extends "layout.html" %}
{% block content %}
<h1 class="text-center mb-4">Past Launches</h1>
{% for launch in past_launches %}
<div class="card bg-light mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ launch.name }}</h5>
    <p class="card-text">Flight Number: {{ launch.flight_number }}</p>
    {% if launch.details %}
    <p class="card-text">{{ launch.details }}</p>
    {% endif %}
    <div class="btn-group">
      {% if launch.links.webcast %}
      <a href="{{ launch.links.webcast }}" class="btn btn-sm btn-outline-dark">YouTube</a>
      {% endif %}
      {% if launch.links.wikipedia %}
      <a href="{{ launch.links.wikipedia }}" class="btn btn-sm btn-outline-dark">Wikipedia</a>
      {% endif %}
      {% if launch.links.presskit %}
      <a href="{{ launch.links.presskit }}" class="btn btn-sm btn-outline-dark">Press Kit</a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}